<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'upload.css' %}" />
		<script
			src="https://kit.fontawesome.com/e23cdb4573.js"
			crossorigin="anonymous"
		></script>
		<script src="{% static 'upload.js' %}"></script>
		<title>My Pet</title>
	</head>
	<body>
		<div class="header">My Pet</div>
		<div class="container top">
			<div class="title">내 반려동물 자랑하기!</div>
		</div>
		<form
			action="{% url 'inputform' %}"
			method="POST"
			class="container content"
			enctype="multipart/form-data"
		>
			{% csrf_token %}
			<div class="container-input">
				<div>
					<label for="input-img"> 사진 </label>
					<div class="input-img-container">
						<input
							type="file"
							onchange="readURL(this);"
							id="input-img"
							name="input-img"
						/>
						<img id="preview" />
					</div>
				</div>
				<div class="input-description-container">
					<label for="input-description"> 설명 </label>
					<textarea
						type="text"
						placeholder="내 반려동물에 대한 간단한 소개를 해주세요!"
						name="input-description"
						id="input-description"
					></textarea>
				</div>
			</div>
			<div class="button">
				<button type="submit">UPLOAD</button>
			</div>
		</form>
	</body>
</html>
